{% extends '_base.html' %}

{% block content %}


<h4>TEST 2 {{ hello }}</h4>


<form method="POST">
    {% csrf_token %}
    <input type="checkbox" name="checks" value="{{ hello }}" />
    <input type="checkbox" name="checks" value="2" />
    <input type="checkbox" name="checks" value="3" />
    <input type="checkbox" name="checks" value="4" />
    <button type="submit" class="btn btn-primary">Отправить данные</button>
</form>

<form method="POST">
    {% csrf_token %}

    <input type="radio" name="checks" value="15"> Париж</input>
    
    <input type="radio" name="checks" value="16"> Парижм</input>
    <p></p>
    <input type="radio" name="checks" value="17"> Парижм</input>
    <input type="radio" name="checks" value="18"> Парижм</input>
    <p></p>
    <button type="submit" class="btn btn-primary">Отправить данные</button>
</form>
{% endblock %}


